{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<Script>
    $(window).load(function () {
        {% if session['provider'] %}
        document.getElementById("AccountManagement").style.display = "block";
        {% else %}
        document.getElementById("AccountManagement").style.display = "none";
        {% endif %}

        {% if session['IDAExecution'] %}
        document.getElementById("GroupManagement").style.display = "block";
        document.getElementById("ModelManagement").style.display = "block";
        document.getElementById("FeatureManagement").style.display = "block";
        {% else %}
        document.getElementById("GroupManagement").style.display = "none";
        document.getElementById("ModelManagement").style.display = "none";
        document.getElementById("FeatureManagement").style.display = "none";

        {% endif %}
    });

    function SaveModel() {
        var devicetypenamelist = [];
        var devicetypeoldnamelist = [];
        var devicetypelist = [];
        var bool = true

        var tb = document.getElementById("devicetypelisttable");
        var rows = tb.rows;
        for (var i = 1; i < rows.length; i++) {
            devicetypenamelist.push(rows[i].cells[1].childNodes[0].value);
            //console.log(rows[i].cells[1].childNodes[0].value);
            devicetypeoldnamelist.push(rows[i].cells[0].childNodes[1].value);
            //console.log(rows[i].cells[0].childNodes[1].value);
            if (rows[i].cells[0].childNodes[0].value == "") {
                bool = false;
                break;
            }

            devicetypelist.push(rows[i].cells[0].childNodes[0].innerHTML);
            //console.log(rows[i].cells[0].childNodes[0].innerHTML);

        }
        //console.log(devicetypenamelist);
        //console.log(devicetypeoldnamelist);
        //console.log(devicetypelist);
        if (bool) {
            var saveajaxbool = false;
            for (var i = 0; i < devicetypenamelist.length; i++) {
                if (devicetypenamelist[i] != devicetypeoldnamelist[i]) {
                    saveajaxbool = true;
                }
            }
            if (saveajaxbool) {
                $('div.containerall').block({ message: null });
                //add some DOM
                $(".blockMsg").append(
                    "<div class='spinner-layer'>" +
                    "<div class='circle-clipper left'>" +
                    "<div class='circle'></div>" +
                    "</div>" +
                    "<div class='circle-clipper right'>" +
                    "<div class='circle'></div>" +
                    "</div>" +
                    "</div>");

                $.getJSON($SCRIPT_ROOT + '/DeviceModelSave', {
                    devicetypenamelist: JSON.stringify(devicetypenamelist),
                    devicetypeoldnamelist: JSON.stringify(devicetypeoldnamelist),
                    devicetypelist: JSON.stringify(devicetypelist)
                },
                    function (data) {
                        //alert(data.result.status);
                        if (data.result.status == "Sucess") {
                            $('div.containerall').unblock();
                            document.location.href = "/DeviceFeatureManagement";
                        }
                        else {
                            $('div.containerall').unblock();
                            alert(data.result.status);
                        }
                    });
            }
            else {

                document.location.href = "/DeviceFeatureManagement";
            }
        }
        else {
            alert("Device model name is null");
        }
    }

    function clearRows(tbodyID) {
        var bodyObj = document.getElementById(tbodyID);
        if (bodyObj == null) {
            alert("Body of Table not Exist!");
            return;
        }

        for (var i = 0; i < bodyObj.rows.length;)
            bodyObj.deleteRow(i);
    }

    function DeviceFeatureManage() {
        $.getJSON($SCRIPT_ROOT + '/DeviceFeatureManagement',
            function (recvdata) {
                //alert(data.result.status);
                if (recvdata.result.status == "Sucess") {
                    clearRows("devicefeaturelisttable");
                    var bodyObj = document.getElementById("devicefeaturelisttable");
                    // 原有有幾row
                    var rowCount = bodyObj.rows.length;

                    for (var i = 0; i < recvdata.result.devicefeaturelist.length; i++) {
                        //console.log(recvdata.result.devicefeaturelist[i]);
                        // 因為新取到的dflist 要增加row
                        var newRow = bodyObj.insertRow(rowCount++);
                        var selectstr = '<select name="devicefeaturenameselection" onclick="" onChange="" style="color:black;text-align:center;height: 44px;width:90%" size="1">';
                        // 以下為自動帶入資料庫之料到df name欄位
                        for (var j = 0; j < recvdata.result.devicefeaturenamelist.length; j++) {
                            if (recvdata.result.devicefeaturelist[i][0] == recvdata.result.devicefeaturenamelist[j]) {
                                selectstr = selectstr + '<option title="' + recvdata.result.devicefeaturenamelist[j] + '" value ="' + recvdata.result.devicefeaturenamelist[j] + '" SELECTED>' + recvdata.result.devicefeaturenamelist[j] + '</option>';
                            }
                            else {
                                selectstr = selectstr + '<option title="' + recvdata.result.devicefeaturenamelist[j] + '" value ="' + recvdata.result.devicefeaturenamelist[j] + '">' + recvdata.result.devicefeaturenamelist[j] + '</option>';
                            }
                        }
                        selectstr = selectstr + '</select>';

                        newRow.insertCell(0).innerHTML = selectstr;
                        newRow.insertCell(1).innerHTML = '<input align="center" type="text" name="devicefeature" value="' + recvdata.result.devicefeaturelist[i][1] + '" readonly="readonly" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturehidden" value="' + recvdata.result.devicefeaturelist[i][0] + '">';
                        newRow.insertCell(2).setAttribute("style", "text-align:center;height: 50px;");
                    }
                    dialog = $("#FeatureShowFormDialog").dialog({
                        autoOpen: false,
                        //title: "DeviceFeatureManagement",
                        height: 900,
                        width: 1200,
                        modal: true,
                        close: function () {
                            dialog.dialog("close");
                        }
                    });
                    dialog.dialog("open");
                }
                else {
                    alert("Network connection error");
                }
            });
    }
    function SaveFeature() {
        var devicefeaturenamelist = [];
        var devicefeatureoldnamelist = [];
        var devicefeaturelist = [];
        var bool = true

        var tb = document.getElementById("devicefeaturelisttable");
        var rows = tb.rows;
        for (var i = 0; i < rows.length; i++) {
            devicefeaturenamelist.push(rows[i].cells[1].childNodes[0].value);
            //console.log(rows[i].cells[0].childNodes);
            devicefeatureoldnamelist.push(rows[i].cells[0].childNodes[1].value);
            if (rows[i].cells[1].childNodes[0].value == "") {
                bool = false;
                break;
            }

            devicefeaturelist.push(rows[i].cells[0].childNodes[0].innerHTML);

        }
        
        if (bool) {
            var saveajaxbool = false;
            //console.log("2");
            for (var i = 0; i < devicefeaturenamelist.length; i++) {
                if (devicefeaturenamelist[i] != devicefeatureoldnamelist[i]) {
                    saveajaxbool = true;
                }
            }
            if (saveajaxbool) {
                $('div.containerall').block({ message: null });
                //add some DOM
                $(".blockMsg").append(
                    "<div class='spinner-layer'>" +
                    "<div class='circle-clipper left'>" +
                    "<div class='circle'></div>" +
                    "</div>" +
                    "<div class='circle-clipper right'>" +
                    "<div class='circle'></div>" +
                    "</div>" +
                    "</div>");
                //console.log("5");
                $.getJSON($SCRIPT_ROOT + '/DeviceFeatureSave', {
                    devicefeaturenamelist: JSON.stringify(devicefeaturenamelist),
                    devicefeatureoldnamelist: JSON.stringify(devicefeatureoldnamelist),
                    devicefeaturelist: JSON.stringify(devicefeaturelist)
                },
                    function (data) {
                        //alert(data.result.status);
                        //console.log("6");
                        //console.log(data.result.status);
                        if (data.result.status == "Sucess") {
                            $('div.containerall').unblock();
                            document.location.href = "/DeviceGroupManagement";
                        }
                        else {
                            $('div.containerall').unblock();
                            alert(data.result.status);
                        }
                    });
            }
            else {
                //dialog.dialog( "close" );
                document.location.href = "/DeviceGroupManagement";
            }
        }
        else {
            alert("Device feature name is null");
        }
    }

    function GetModelNameList() {
        $('div.containerall').block({ message: null });
        //add some DOM
        $(".blockMsg").append(
            "<div class='spinner-layer'>" +
            "<div class='circle-clipper left'>" +
            "<div class='circle'></div>" +
            "</div>" +
            "<div class='circle-clipper right'>" +
            "<div class='circle'></div>" +
            "</div>" +
            "</div>");
        $.getJSON($SCRIPT_ROOT + '/GetModelNameList', {

        },
            function (recvdata) {
                //alert(data.result.status);
                if (recvdata.result.status == "Sucess") {
                    clearRows("devicemodeledittable");
                    var bodyObj = document.getElementById("devicemodeledittable");
                    var rowCount = bodyObj.rows.length;

                    for (var i = 0; i < recvdata.result.devicenamelist.length; i++) {
                        var newRow = bodyObj.insertRow(rowCount++);

                        if (recvdata.result.devicenamelist[i].canchangebool) {
                            newRow.insertCell(0).innerHTML = '<input align="center" type="text" name="devicemodelname" value="' + recvdata.result.devicenamelist[i].DeviceName + '" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicemodelnamehidden" value="' + recvdata.result.devicenamelist[i].DeviceName + '">';
                            //newRow.insertCell(1).innerHTML = recvdata.result.devicefeaturelist[i][1];
                            newRow.insertCell(1).innerHTML = '<input type="button" value="Delete" onclick="ModelNameDelete(\'' + recvdata.result.devicenamelist[i].DeviceName + '\',this)" style="height:44px;color:black;">'
                        }
                        else {
                            newRow.insertCell(0).innerHTML = '<input align="center" type="text" name="devicemodelname" value="' + recvdata.result.devicenamelist[i].DeviceName + '" style="width:90%;text-align:center;height: 44px;" disabled><input type="hidden" name="devicemodelnamehidden" value="' + recvdata.result.devicenamelist[i].DeviceName + '">';
                            //newRow.insertCell(1).innerHTML = recvdata.result.devicefeaturelist[i][1];
                            newRow.insertCell(1).innerHTML = '<input type="button" value="Disable(in use)" onclick="ModelNameDelete(\'' + recvdata.result.devicenamelist[i].DeviceName + '\',this)" style="height:44px;color:red;" disabled>'

                        }
                        newRow.insertCell(2).setAttribute("style", "text-align:center;height: 50px;");
                    }
                    var dialog = $("#ModelEditFormDialog").dialog({
                        autoOpen: false,
                        //title: "DeviceModelName editor page",
                        height: 600,
                        width: 800,
                        modal: true,
                        close: function () {
                            dialog.dialog("close");
                        }
                    });
                    $('div.containerall').unblock();
                    dialog.dialog("open");
                }
                else {
                    $('div.containerall').unblock();
                    alert("Network connection error");
                }
            });
    }
    function AddModelNameList() {
        var bodyObj = document.getElementById("devicemodeledittable");
        var rowCount = bodyObj.rows.length;

        var newRow = bodyObj.insertRow(rowCount++);
        newRow.insertCell(0).innerHTML = '<input align="center" type="text" name="devicemodelname" value="" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicemodelnamehidden" value="">';
        newRow.insertCell(1).innerHTML = '<input type="button" value="Delete" onclick="ModelNameDelete(\'\',this)" style="height:44px;color:black;">';
        newRow.insertCell(2).setAttribute("style", "text-align:center;height: 50px;");
    }
    function SaveModelNameList() {
        var devicemodelnamelist = [];
        var devicemodeloldnamelist = [];
        var dialog = $("#ModelEditFormDialog");

        var tb = document.getElementById("devicemodeledittable");
        var rows = tb.rows;
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].cells[0].childNodes[0].value == "" && rows[i].cells[0].childNodes[1].value != "") {
                alert("The DeviceModelName(" + rows[i].cells[0].childNodes[1].value + ") cannot be changed to null");
            }
            else if (rows[i].cells[0].childNodes[0].value == "" && rows[i].cells[0].childNodes[1].value == "") {

            }
            else {
                devicemodelnamelist.push(rows[i].cells[0].childNodes[0].value);
                devicemodeloldnamelist.push(rows[i].cells[0].childNodes[1].value);
            }
        }

        var nary = devicemodelnamelist.sort();
        var duplicatebool = false;
        for (var i = 0; i < nary.length; i++) {
            if (nary[i] == nary[i + 1]) {
                alert("Duplicate ModelName(" + nary[i] + ")");
                duplicatebool = true;
                break;
            }
        }
        //console.log(devicemodelnamelist);
        //console.log(devicemodeloldnamelist);
        if (duplicatebool == false) {
            $(".blockMsg").append(
                "<div class='spinner-layer'>" +
                "<div class='circle-clipper left'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "<div class='circle-clipper right'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "</div>");
            $.getJSON($SCRIPT_ROOT + '/SaveModelNameList', {
                devicemodelnamelist: JSON.stringify(devicemodelnamelist),
                devicemodeloldnamelist: JSON.stringify(devicemodeloldnamelist)
            },
                function (recvdata) {
                    //alert(data.result.status);
                    if (recvdata.result.status == "Sucess") {
                        var selectlist = document.getElementsByName("devicetypenameselection");
                        for (var i = 0; i < selectlist.length; i++) {
                            for (var k = 0; k < devicemodelnamelist.length; k++) {
                                optionexitbool = false;
                                selectlistvalue = selectlist[i].value;
                                for (var j = 0; j < selectlist[i].options.length; j++) {
                                    if ((devicemodeloldnamelist[k] == selectlist[i].options[j].value) && (devicemodeloldnamelist[k] != devicemodelnamelist[k])) {
                                        selectlist[i].options[j].value = devicemodelnamelist[k];
                                        selectlist[i].options[j].text = devicemodelnamelist[k];
                                    }
                                    if (devicemodelnamelist[k] == selectlist[i].options[j].value) {
                                        optionexitbool = true;
                                        break;
                                    }
                                }
                                if (optionexitbool == false) {
                                    var new_option = new Option(devicemodelnamelist[k], devicemodelnamelist[k]);
                                    selectlist[i].options.add(new_option);
                                }

                                for (var j = 0; j < selectlist[i].options.length; j++) {
                                    if (selectlist[i].options[j].value == selectlistvalue) {
                                        selectlist[i].selectedIndex = j;
                                        break;
                                    }
                                }
                            }
                        }
                        $('div.containerall').unblock();
                        dialog.dialog("close");
                    }
                    else {
                        $('div.containerall').unblock();
                        alert(recvdata.result.status);
                    }
                });
        }
    }
    function ModelNameDelete(DeviceModelName, btnobj) {
        //console.log(DeviceModelName=="");
        if (DeviceModelName != "") {
            $(".blockMsg").append(
                "<div class='spinner-layer'>" +
                "<div class='circle-clipper left'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "<div class='circle-clipper right'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "</div>");
            $.getJSON($SCRIPT_ROOT + '/ModelNameDelete', {
                DeviceModelName: DeviceModelName
            },
                function (recvdata) {
                    //alert(data.result.status);
                    if (recvdata.result.status == "Sucess") {
                        var clickRow = btnobj.parentElement.parentNode.rowIndex;
                        var bodyObj = document.getElementById("devicemodeledittable");
                        bodyObj.deleteRow(clickRow - 1);
                        var selectlist = document.getElementsByName("devicetypenameselection");
                        for (var i = 0; i < selectlist.length; i++) {
                            var selectedvalue = selectlist[i].value;
                            for (var j = 0; j < selectlist[i].options.length; j++) {
                                if (selectlist[i].options[j].value == DeviceModelName) {
                                    selectlist[i].options.remove(j);
                                    break;
                                }
                            }
                        }
                        $('div.containerall').unblock();
                    }
                    else {
                        $('div.containerall').unblock();
                        alert(recvdata.result.status);
                    }
                });
        }
        else {
            var clickRow = btnobj.parentElement.parentNode.rowIndex;
            var bodyObj = document.getElementById("devicemodeledittable");
            bodyObj.deleteRow(clickRow - 1);
        }
    }

    function GetFeatureNameList() {
        $('div.containerall').block({ message: null });
        //add some DOM
        $(".blockMsg").append(
            "<div class='spinner-layer'>" +
            "<div class='circle-clipper left'>" +
            "<div class='circle'></div>" +
            "</div>" +
            "<div class='circle-clipper right'>" +
            "<div class='circle'></div>" +
            "</div>" +
            "</div>");
        $.getJSON($SCRIPT_ROOT + '/GetFeatureNameList', {

        },
            function (recvdata) {
                //alert(data.result.status);
                if (recvdata.result.status == "Sucess") {
                    clearRows("devicefeatureedittable");
                    var bodyObj = document.getElementById("devicefeatureedittable");
                    var rowCount = bodyObj.rows.length;
                    //console.log(recvdata.result.featurenamelist);
                    for (var i = 0; i < recvdata.result.featurenamelist.length; i++) {
                        var newRow = bodyObj.insertRow(rowCount++);

                        if (recvdata.result.featurenamelist[i].canchangebool) {
                            newRow.insertCell(0).innerHTML = '<input align="center" type="text" name="devicefeaturename" value="' + recvdata.result.featurenamelist[i].ServiceName + '" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturenamehidden" value="' + recvdata.result.featurenamelist[i].ServiceName + '">';

                            var selectstr = '<select name="devicefeaturedimension" onclick="" onChange="" style="color:black;text-align:center;height: 44px;width:90%" size="1">';
                            for (var m = 1; m < 6; m++) {
                                //console.log(recvdata.result.featurenamelist[i]);
                                if (recvdata.result.featurenamelist[i].Dimension == m) {
                                    selectstr = selectstr + '<option title="' + m + '" value ="' + m + '" SELECTED>' + m + '</option>';
                                }
                                else {
                                    selectstr = selectstr + '<option title="' + m + '" value ="' + m + '">' + m + '</option>';
                                }
                            }
                            selectstr = selectstr + '</select>';
                            //newRow.insertCell(1).innerHTML = '<input align="center" type="text" name="devicefeaturedimension" value="'+recvdata.result.featurenamelist[i].Dimension+'" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturedimensionhidden" value="'+recvdata.result.featurenamelist[i].Dimension+'">';	
                            newRow.insertCell(1).innerHTML = selectstr;

                            selectstr = '<select name="devicefeaturedataType" onclick="" onChange="" style="color:black;text-align:center;height: 44px;width:90%" size="1">';

                            if (recvdata.result.featurenamelist[i].DataType == "float") {
                                selectstr = selectstr + '<option title="float" value ="float" SELECTED>float</option>';
                            }
                            else {
                                selectstr = selectstr + '<option title="float" value ="float">float</option>';
                            }
                            if (recvdata.result.featurenamelist[i].DataType == "int") {
                                selectstr = selectstr + '<option title="int" value ="int" SELECTED>int</option>';
                            }
                            else {
                                selectstr = selectstr + '<option title="int" value ="int">int</option>';
                            }
                            if (recvdata.result.featurenamelist[i].DataType == "str") {
                                selectstr = selectstr + '<option title="str" value ="str" SELECTED>str</option>';
                            }
                            else {
                                selectstr = selectstr + '<option title="str" value ="str">str</option>';
                            }

                            selectstr = selectstr + '</select>';

                            //newRow.insertCell(2).innerHTML = '<input align="center" type="text" name="devicefeaturedataType" value="'+recvdata.result.featurenamelist[i].DataType+'" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturedataTypehidden" value="'+recvdata.result.featurenamelist[i].DataType+'">';	
                            newRow.insertCell(2).innerHTML = selectstr;
                            //newRow.insertCell(3).innerHTML = recvdata.result.devicefeaturelist[i][1];
                            newRow.insertCell(3).innerHTML = '<input type="button" value="Delete" onclick="FeatureNameDelete(\'' + recvdata.result.featurenamelist[i].ServiceName + '\',this)" style="height:44px;color:black;">';
                        }
                        else {
                            newRow.insertCell(0).innerHTML = '<input align="center" type="text" name="devicefeaturename" value="' + recvdata.result.featurenamelist[i].ServiceName + '" style="width:90%;text-align:center;height: 44px;" disabled><input type="hidden" name="devicefeaturenamehidden" value="' + recvdata.result.featurenamelist[i].ServiceName + '">';

                            var selectstr = '<select name="devicefeaturedimension" onclick="" onChange="" style="color:black;text-align:center;height: 44px;width:90%" size="1" disabled>';
                            for (var m = 1; m < 6; m++) {
                                //console.log(recvdata.result.featurenamelist[i]);
                                if (recvdata.result.featurenamelist[i].Dimension == m) {
                                    selectstr = selectstr + '<option title="' + m + '" value ="' + m + '" SELECTED>' + m + '</option>';
                                }
                                else {
                                    selectstr = selectstr + '<option title="' + m + '" value ="' + m + '">' + m + '</option>';
                                }
                            }
                            selectstr = selectstr + '</select>';
                            //newRow.insertCell(1).innerHTML = '<input align="center" type="text" name="devicefeaturedimension" value="'+recvdata.result.featurenamelist[i].Dimension+'" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturedimensionhidden" value="'+recvdata.result.featurenamelist[i].Dimension+'">';	
                            newRow.insertCell(1).innerHTML = selectstr;

                            selectstr = '<select name="devicefeaturedataType" onclick="" onChange="" style="color:black;text-align:center;height: 44px;width:90%" size="1" disabled>';

                            if (recvdata.result.featurenamelist[i].DataType == "float") {
                                selectstr = selectstr + '<option title="float" value ="float" SELECTED>float</option>';
                            }
                            else {
                                selectstr = selectstr + '<option title="float" value ="float">float</option>';
                            }
                            if (recvdata.result.featurenamelist[i].DataType == "int") {
                                selectstr = selectstr + '<option title="int" value ="int" SELECTED>int</option>';
                            }
                            else {
                                selectstr = selectstr + '<option title="int" value ="int">int</option>';
                            }
                            if (recvdata.result.featurenamelist[i].DataType == "str") {
                                selectstr = selectstr + '<option title="str" value ="str" SELECTED>str</option>';
                            }
                            else {
                                selectstr = selectstr + '<option title="str" value ="str">str</option>';
                            }

                            selectstr = selectstr + '</select>';

                            //newRow.insertCell(2).innerHTML = '<input align="center" type="text" name="devicefeaturedataType" value="'+recvdata.result.featurenamelist[i].DataType+'" style="width:90%;text-align:center;height: 44px;" disabled><input type="hidden" name="devicefeaturedataTypehidden" value="'+recvdata.result.featurenamelist[i].DataType+'">';		
                            newRow.insertCell(2).innerHTML = selectstr;
                            //newRow.insertCell(3).innerHTML = recvdata.result.devicefeaturelist[i][1];
                            newRow.insertCell(3).innerHTML = '<input type="button" value="Disable(in use)" onclick="FeatureNameDelete(\'' + recvdata.result.featurenamelist[i].DeviceName + '\',this)" style="height:44px;color:red;" disabled>';
                        }
                        newRow.insertCell(4).setAttribute("style", "text-align:center;height: 50px;");
                    }
                    var dialog = $("#FeatureEditFormDialog").dialog({
                        autoOpen: false,
                        //title: "DeviceFeatureName editor page",
                        height: 900,
                        width: 1200,
                        modal: true,
                        close: function () {
                            dialog.dialog("close");
                        }
                    });
                    $('div.containerall').unblock();
                    dialog.dialog("open");
                }
                else {
                    $('div.containerall').unblock();
                    alert("Network connection error");
                }
            });
    }

    function AddFeatureNameList() {
        var bodyObj = document.getElementById("devicefeatureedittable");
        var rowCount = bodyObj.rows.length;

        var newRow = bodyObj.insertRow(rowCount++);
        newRow.insertCell(0).innerHTML = '<input align="center" type="text" name="devicefeaturename" value="" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturenamehidden" value="">';

        var selectstr = '<select name="devicefeaturedimension" onclick="" onChange="" style="color:black;text-align:center;height: 44px;width:90%" size="1">';
        for (var m = 1; m < 6; m++) {
            if (m == 1) {
                selectstr = selectstr + '<option title="' + m + '" value ="' + m + '" SELECTED>' + m + '</option>';
            }
            else {
                selectstr = selectstr + '<option title="' + m + '" value ="' + m + '">' + m + '</option>';
            }
        }
        selectstr = selectstr + '</select>';
        //newRow.insertCell(1).innerHTML = '<input align="center" type="text" name="devicefeaturedimension" value="'+recvdata.result.featurenamelist[i].Dimension+'" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturedimensionhidden" value="'+recvdata.result.featurenamelist[i].Dimension+'">';	
        newRow.insertCell(1).innerHTML = selectstr;

        selectstr = '<select name="devicefeaturedataType" onclick="" onChange="" style="color:black;text-align:center;height: 44px;width:90%" size="1">';

        selectstr = selectstr + '<option title="float" value ="float" SELECTED>float</option>';
        selectstr = selectstr + '<option title="int" value ="int">int</option>';
        selectstr = selectstr + '<option title="str" value ="str">str</option>';
        selectstr = selectstr + '</select>';

        //newRow.insertCell(2).innerHTML = '<input align="center" type="text" name="devicefeaturedataType" value="'+recvdata.result.featurenamelist[i].DataType+'" style="width:90%;text-align:center;height: 44px;"><input type="hidden" name="devicefeaturedataTypehidden" value="'+recvdata.result.featurenamelist[i].DataType+'">';	
        newRow.insertCell(2).innerHTML = selectstr;
        //newRow.insertCell(3).innerHTML = recvdata.result.devicefeaturelist[i][1];
        newRow.insertCell(3).innerHTML = '<input type="button" value="Delete" onclick="FeatureNameDelete(\'\',this)" style="height:44px;color:black;">';
        newRow.insertCell(4).setAttribute("style", "text-align:center;height: 50px;");
    }

    function SaveFeatureNameList() {
        var devicefeaturenamelist = [];
        var devicefeatureoldnamelist = [];
        var devicefeaturedimensionlist = [];
        var devicefeaturedatatypelist = [];
        var dialog = $("#FeatureEditFormDialog");

        var tb = document.getElementById("devicefeatureedittable");
        var rows = tb.rows;
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].cells[0].childNodes[0].value == "" && rows[i].cells[0].childNodes[1].value != "") {
                alert("The FeatureName(" + rows[i].cells[0].childNodes[1].value + ") cannot be changed to null");
            }
            else if (rows[i].cells[0].childNodes[0].value == "" && rows[i].cells[0].childNodes[1].value == "") {

            }
            else {
                devicefeaturenamelist.push(rows[i].cells[0].childNodes[0].value);
                devicefeatureoldnamelist.push(rows[i].cells[0].childNodes[1].value);
                devicefeaturedimensionlist.push(rows[i].cells[1].childNodes[0].value);
                devicefeaturedatatypelist.push(rows[i].cells[2].childNodes[0].value);
            }
        }

        var nary = devicefeaturenamelist.sort();
        var duplicatebool = false;
        for (var i = 0; i < nary.length; i++) {
            if (nary[i] == nary[i + 1]) {
                alert("Duplicate FeatureName(" + nary[i] + ")");
                duplicatebool = true;
                break;
            }
        }
        //console.log(devicemodelnamelist);
        //console.log(devicemodeloldnamelist);
        if (duplicatebool == false) {
            $(".blockMsg").append(
                "<div class='spinner-layer'>" +
                "<div class='circle-clipper left'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "<div class='circle-clipper right'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "</div>");
            $.getJSON($SCRIPT_ROOT + '/SaveFeatureNameList', {
                devicefeaturenamelist: JSON.stringify(devicefeaturenamelist),
                devicefeatureoldnamelist: JSON.stringify(devicefeatureoldnamelist),
                devicefeaturedimensionlist: JSON.stringify(devicefeaturedimensionlist),
                devicefeaturedatatypelist: JSON.stringify(devicefeaturedatatypelist)
            },
                function (recvdata) {
                    //alert(data.result.status);
                    if (recvdata.result.status == "Sucess") {
                        var selectlist = document.getElementsByName("devicefeaturenameselection");
                        for (var i = 0; i < selectlist.length; i++) {
                            for (var k = 0; k < devicefeaturenamelist.length; k++) {
                                optionexitbool = false;
                                selectlistvalue = selectlist[i].value;
                                for (var j = 0; j < selectlist[i].options.length; j++) {
                                    if ((devicefeatureoldnamelist[k] == selectlist[i].options[j].value) && (devicefeatureoldnamelist[k] != devicefeaturenamelist[k])) {
                                        selectlist[i].options[j].value = devicefeaturenamelist[k];
                                        selectlist[i].options[j].text = devicefeaturenamelist[k];
                                    }
                                    if (devicefeaturenamelist[k] == selectlist[i].options[j].value) {
                                        optionexitbool = true;
                                        break;
                                    }
                                }
                                if (optionexitbool == false) {
                                    var new_option = new Option(devicefeaturenamelist[k], devicefeaturenamelist[k]);
                                    selectlist[i].options.add(new_option);
                                }

                                for (var j = 0; j < selectlist[i].options.length; j++) {
                                    if (selectlist[i].options[j].value == selectlistvalue) {
                                        selectlist[i].selectedIndex = j;
                                        break;
                                    }
                                }
                            }
                        }
                        $('div.containerall').unblock();
                        dialog.dialog("close");
                    }
                    else {
                        $('div.containerall').unblock();
                        alert(recvdata.result.status);
                    }
                });
        }
    }

    function FeatureNameDelete(DeviceFeatureName, btnobj) {
        //console.log(DeviceFeatureName=="");
        if (DeviceFeatureName != "") {
            $(".blockMsg").append(
                "<div class='spinner-layer'>" +
                "<div class='circle-clipper left'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "<div class='circle-clipper right'>" +
                "<div class='circle'></div>" +
                "</div>" +
                "</div>");
            $.getJSON($SCRIPT_ROOT + '/FeatureNameDelete', {
                DeviceFeatureName: DeviceFeatureName
            },
                function (recvdata) {
                    //alert(data.result.status);
                    if (recvdata.result.status == "Sucess") {
                        var clickRow = btnobj.parentElement.parentNode.rowIndex;
                        var bodyObj = document.getElementById("devicefeatureedittable");
                        bodyObj.deleteRow(clickRow - 1);
                        var selectlist = document.getElementsByName("devicefeaturenameselection");
                        for (var i = 0; i < selectlist.length; i++) {
                            var selectedvalue = selectlist[i].value;
                            for (var j = 0; j < selectlist[i].options.length; j++) {
                                if (selectlist[i].options[j].value == DeviceFeatureName) {
                                    selectlist[i].options.remove(j);
                                    break;
                                }
                            }
                        }
                        $('div.containerall').unblock();
                    }
                    else {
                        $('div.containerall').unblock();
                        alert(recvdata.result.status);
                    }
                });
        }
        else {
            var clickRow = btnobj.parentElement.parentNode.rowIndex;
            var bodyObj = document.getElementById("devicefeatureedittable");
            bodyObj.deleteRow(clickRow - 1);
        }
    }
</Script>
<p>&nbsp;</p>
<div id="FeatureShowFormDialog" title="">
    <table align="center" border="5"
        style="background-color:rgb(221, 221, 221);width:90%;text-align:center;font-size:30px;color:black; margin-left: auto; margin-right: auto;">
        <thead align="center">
            <tr>
                {% if session['provider'] == "NHR"%}
                <th align='center' valign="middle" style="text-align:center;width:35%;">CID</th>
                {% elif session['provider'] == "SIP"%}
                <th align='center' valign="middle" style="text-align:center;width:35%;">SensorID</th>
                {% endif %}
                <th align='center' valign="middle" style="height:52px;text-align:center;width:35%;">DeviceFeature</th>
                <th align='center' valign="middle" style="text-align:center;width:15%;">Dimension</th>
                <th align='center' valign="middle" style="text-align:center;width:15%;">DataType</th>
                <!--  <th align='center' valign="middle" style="text-align:center;width:0%;"></th> -->
            </tr>
        </thead>
        <tbody id="devicefeaturelisttable" align='center' valign="middle">
            {% for feature in result.devicefeaturelist %}
            <tr>
                <td name="devicetypevalue" align='center' valign="middle"><label
                        name="devicefeature">{{feature[1]}}</label><input type="hidden" name="devicetypehidden"
                        value="{{feature[0]}}"></td>
                <td name="devicetypevalue" align='center' valign="middle" style="height: 50px"><input align='center'
                        type="text" name="devicetypenameselection" defaultValue="{{ feature[0]}}"
                        value="{{ feature[0]}}" style="width:90%;text-align:center;height: 44px;"></td>
                <td name="devicetypevalue" align='center' valign="middle"><label>{{feature[2]}}</label></td>
                <td name="devicetypevalue" align='center' valign="middle"><label>{{feature[3]}}</label></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table align="center" border="0" style="width:90%">
        <tr>
            <td align='center' style="width:50%"></td>
            <td align='right' valign="middle" style="height:70px;width:50%">
                <!--  
      	<input type="button" value="add" onclick="add_row()" style="height:40px;">
      	&nbsp;
      	-->
                <input type="button" value="Save" onclick="SaveFeature()" style="height:44px;color:black;">
                &nbsp;
            </td>
        </tr>
    </table>
</div>

<div id="ModelEditFormDialog" title="" style="display:none">
    <table align="center" border="5"
        style="background-color:rgb(221, 221, 221);width:90%;text-align:center;font-size:30px;color:black; margin-left: auto; margin-right: auto;">
        <thead align="center">
            <tr>
                <th align='center' valign="middle" style="text-align:center;width:50%;">DeviceModel</th>
                <th align='center' valign="middle" style="text-align:center;width:50%;">Delete</th>
                <th align='center' valign="middle" style="text-align:center;width:0%;"></th>
            </tr>
        </thead>
        <tbody id="devicemodeledittable" align='center' valign="middle">
        </tbody>
    </table>
    <table align="center" border="0" style="width:90%">
        <tr>
            <td align='center' style="width:50%"></td>
            <td align='right' valign="middle" style="height:70px;width:50%">

                <input type="button" value="Add" onclick="AddModelNameList()" style="height:44px;color:black;">
                &nbsp;

                <input type="button" value="Save" onclick="SaveModelNameList()" style="height:44px;color:black;">
                &nbsp;
            </td>
        </tr>
    </table>
</div>

<div id="FeatureEditFormDialog" title="" style="display:none">
    <table align="center" border="5"
        style="background-color:rgb(221, 221, 221);width:90%;text-align:center;font-size:30px;color:black; margin-left: auto; margin-right: auto;">
        <thead align="center">
            <tr>
                <th align='center' valign="middle" style="text-align:center;width:35%;">DeviceFeature</th>
                <th align='center' valign="middle" style="text-align:center;width:20%;">Dimension</th>
                <th align='center' valign="middle" style="text-align:center;width:20%;">DataType</th>
                <th align='center' valign="middle" style="text-align:center;width:25%;">Delete</th>
                <th align='center' valign="middle" style="text-align:center;width:0%;"></th>
            </tr>
        </thead>
        <tbody id="devicefeatureedittable" align='center' valign="middle">
        </tbody>
    </table>
    <table align="center" border="0" style="width:90%">
        <tr>
            <td align='center' style="width:50%"></td>
            <td align='right' valign="middle" style="height:70px;width:50%">

                <input type="button" value="Add" onclick="AddFeatureNameList()" style="height:44px;color:black;">
                &nbsp;

                <input type="button" value="Save" onclick="SaveFeatureNameList()" style="height:44px;color:black;">
                &nbsp;
            </td>
        </tr>
    </table>
</div>

</head>

{% else %}
<p>Not login!</p>
<a href="/login">Login</a>

{% endif %}
{% endblock %}